// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";

label {
    color:#409eff;
    padding: 0 8px;
}
.btn:hover,
.post-button a:hover,
.post-toc ol a:hover {
     color:#87daff;
    border-bottom: 1px solid #87daff;
    transition:all 0.5s;
}
.posts-expand .post-title-link:hover {
 color: #fb1414
}
.posts-expand .post-title-link::before {
  background-color: #fb1414;
}
a {
    color: #409eff;
    border-bottom: 1px solid #409eff;
    transition:all 0.5s;
}

a:hover {
  color: #15318b;
  border-bottom: 1px solid #15318b;
}

caption, td,th {
  text-align: center ;
}
figure caption, td,th {
text-align: left ;
}
.red {
  color: #fb1414;
}
.skyblue{
  color:#409eff;
}